<form #addproductForm="ngForm" (ngSubmit)="add()" autocomplete="off">
    <h2 class="text-center text-primary">Add a Product</h2>
    <hr>
    <div class="mb-3 form-floating">
        <input 
            type="text"
            class="form-control"
            name="product"
            [(ngModel)]="model.nazwa"
            placeholder="product"
        >
        <label>Product</label>
        <input 
            type="text"
            class="form-control"
            name="product"
            [(ngModel)]="model.cena"
            placeholder="price"
        >
        <label>Product</label>
    </div>
    <div class="form-group text-center">
        <button class="btn btn-success me-2" type="submit">Add</button>
        <button class="btn btn-success me-2" (click)="cancel()" type="button">Add</button>
    </div>
</form>
